// Green Theme var
$color-green: #235E3D;
$color-green-hover: #104225;
$color-red: #CA3413;
$color-red-hover: #972c14;
$color-blue: #1F87C4;
$color-blue-hover: #196b9b;
$color-footer: rgba(51, 51, 51, 0.7);